<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gazette Page</title>
   
</head>
<body>
    <div class="a4-container">
    <header>
        <div class="header-content">
     
            <div class="header-center">

                <p class="date1" > STAATSKOERANT,&nbsp;04&nbsp;OKTOBER&nbsp;2024 </p>
               

            </div>

            <div class="header-right">
                <p>No. 01766 &nbsp;&nbsp;&nbsp;<b>23</b></p>
                
            </div>

            
        </div>
        <hr style="height: 2px;border-width: 0;color: black;background-color: black;">
    </header>

    <main>
        <section>
            <br>
            <hr class="cape-seperator"></hr>
            <p class="heading-size">GAUTENG</p>
            <hr class="cape-seperator"></hr>
            <p>&nbsp; &nbsp;</p>
            
         <div class ="paragraph_1" >           
            <p class="line_1">16852255/2025---Executor: (2) <b>LUNGA, MARGARATE</b>;&nbsp; (3)&nbsp; NO &nbsp; 10 &nbsp;LOUS STREET  PARKTOWN,</p>
            <p class=>PENSIONER; (4) 2020-07-02; (5) MASTER OF THE HIGH COURT JOHANNESURG 100 GUNDI STREET 2ND </p>
            <p class=> FLOOR DEPUTY MASTER OFFICE, 2024-02-21, 10:00. </p>
            <p class="line_1">16852255/2025---Executor: (2) <b>LUNGA, MARGARATE</b>;&nbsp; (3)&nbsp; NO &nbsp; 10 &nbsp;LOUS STREET  PARKTOWN, </p>
            <p class=> PENSIONER; (4) 2020-07-02; (5) MASTER OF THE HIGH COURT JOHANNESURG 100 GUNDI STREET 2ND </p>
            <p class=> FLOOR DEPUTY MASTER OFFICE, 2024-02-21, 10:00.</p>
            <p>&nbsp; &nbsp;</p>

            <hr style="height: 2px;border-width: 0;color: black;background-color: black;"></hr>
        </div>
             <h5 class="form1"> Form/vorm J295 </h5><br>
            
              
   
        
    
        
            <p class="paragraph_2_heading">NOTICE OF CURATOR AND TUTOR</p><br>
            <div class="paragraph_2">
            <p class="line_1">In terms of section 75 of the Administration of Estates Act No. 66 of 1965 (as amended), notice is hereby  </p>
            <p class=>given of appointments of persons as Curators or Tutors by Masters of the High Court, or of termination of such </p>
            <p class=>appointment (their having ceased in their respective capacity) </p>
            <p>&nbsp; &nbsp;</p>
            <p class="line_1">The information is given in the following order: (1) Number of matter; (2) person under curatorship, or minor, </p>
            <p class=>and address; (3) curator or tutor; name and address of curator or tutor; (4) whether appointment or termination </p>
            <p class=>(cease in capacity), and date; (5) Master of the High Court.</p>
            </div>
            <p>&nbsp; &nbsp;</p>

            <p class="paragraph_2_heading">KENNISGEWINGS VAN KURATORS EN VOOGDE</p><br>
            <div class="paragraph_2">
             <p class="line_1">Ingevolge artikel 75 van die Boedelwet No. 66 van 1965 (soos gewysig), word hierby kennis gegee van die </p>
             <p class=>aanstelling van persone as kurators of voogde deur Meesters van die Hoe Hof, of van die beindiging van </p>
             <p class=>aanstellings in sodanige hoedanighede. </p>
             <p>&nbsp; &nbsp;</p>
             <p class="line_1">Die inligting word verstrek in die volgorde: (1) Nommer van saak; (2) persoon onder kuratele, of minderjarige</p>
             <p class=>en adres; (3) kurator of voog; naam en adres van kurator of voog; (4) of aanstelling of beindiging daarvan, en </p>
             <p class=>datum; (5) Meester van die Hooggeregshof.</p>
             <p>&nbsp; &nbsp;</p>
             
            </div>
      

        
          
            <hr class="cape-seperator"></hr>
            <p class="heading-size">GAUTENG</p>
            <hr class="cape-seperator"></hr>
            <p>&nbsp; &nbsp;</p>
            <div class="paragraph_1">           
            <p class="line_1">MC172/19(2) Curatorship: <b>LINDA RICHARDSON,</b> Medifrail Rehab Centre, 969 Cura Avenue, Equestria, </p>
            <p class=>Pretoria; (3) Curator: Deon Laubscher; 13 Carstens Crescent, Garsfontein, Pretoria, Gauteng; (4) Termination: </p>
            <p class=>2021-07-11; (5) PRETORIA. </p>
            <p class="line_1">MC172/19—(2) Curatorship:<b> LINDA RICHARDSON,</b> Medifrail Rehab Centre, 969 Cura Avenue, Equestria, </p>
            <p class=""> Pretoria; (3) Curator: Deon Laubscher; 13 Carstens Crescent, Garsfontein, Pretoria, Gauteng; (4) Termination: </p>
            <p class=> 2021-07-11; (5) PRETORIA.</p>
            <p>&nbsp; &nbsp;</p>

            </div>

        
            <hr class="cape-seperator"></hr>
            <p class="heading-size">NORTHERN CAPE / NOORD-KAAP</p>
            <hr class="cape-seperator"></hr>
            <p>&nbsp; &nbsp;</p>
    
            <div class ="paragraph_1" >          
            <p class="line_1">MC23/2018—(2) Curatorship: <b>LUCAS JACOBUS JANSE VAN VUUREN,</b> 26 MONOPOLY STREET, ALPHINE 
            <p class=>PARK, MITCHELLS PLAIN; (3) Curator: DEON OLIVER P/A VILLAGE TRUSTEES; PO BOX 869, KUILS
            <p class=> RIVER, 7579; (4) Termination: 2021-07-11; (5) CAPETOWN.
            <p class="line_1">MC23/2018(2) Curatorship: <b>LUCAS JACOBUS JANSE VAN VUUREN,</b> 26 MONOPOLY STREET, ALPHINE 
            <p class=> PARK, MITCHELLS PLAIN; (3) Curator: DEON OLIVER P/A VILLAGE TRUSTEES; PO BOX 869, KUILS
            <p class=>RIVER, 7579; (4) Termination:2021-07-11;(5)CAPETOWN.</p>
            <p>&nbsp; &nbsp;</p>
        </div>
            <hr style="height: 2px;border-width: 0;color: black;background-color: black;"></hr> 
            <h5 class="form2"> Form/vorm J295 </h5> <br>
          
               

            <p class="paragraph_2_heading">NOTICE TO CREDITORS IN DECEASED ESTATES</p><br>

            <div class="paragraph_2">
            <p class="line_1">All persons having claims against the under-mentioned estate must lodge it with the Executor concerned
            <p class=>within 30 days (or as indicated) from date of publication hereof.
            <p>&nbsp;</p>
            <p class="line_1">  The information is given in the following order: (1) Estate number, (2) surname and christian names, date of
            <p class=> birth, identity number, last address; (3) date of death; (4) surviving spouse's names, surname, date of birth and </p><br><br><br><br><br><br>
        </div>
       
    </section>
    </main>

    <div class="footer_box">
    <footer>
        <div class="footer_box">
        <p class="footer_text">This gazette is also available free online at  <a href="url.html"><class="gpw">www.gpwonline.co.za</a> </p>
    </div>
    </footer>


</div>
</body>
</html>
